.li_link{
    width: 200px;
}
.li_link:hover{
    width:200px;
    color: #000;
    font: bold 14px Arial;

}
.li_link a{
    color:#000;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}